import librarires

In [1]:
import pandas as pd

load datasets

In [2]:
# Load Hyperliquid trader data
trader_df = pd.read_csv("csv_files/historical_data.csv")

# Load Fear & Greed Index data
sentiment_df = pd.read_csv("csv_files/fear_greed_index.csv")

sentiment cleaning

In [19]:
sentiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   datetime64[ns]
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 82.8+ KB

In [4]:
sentiment_df['timestamp']=pd.to_datetime(sentiment_df['timestamp'],unit='s')

In [5]:
sentiment_df['date'] = pd.to_datetime(sentiment_df['date'])

In [6]:
sentiment_df = sentiment_df.drop_duplicates()

In [7]:
sentiment_df['classification'] = sentiment_df['classification'].str.strip().str.lower()

trader cleaning

In [10]:
trader_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB

In [12]:
# Convert numeric UNIX timestamp (ms) â†’ datetime
trader_df['Datetime'] = pd.to_datetime(trader_df['Timestamp'], unit='ms')

# Extract just the date for merging with sentiment_df
trader_df['trade_date'] = trader_df['Datetime'].dt.date

In [16]:
trader_df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Datetime,trade_date
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,2024-10-27 03:33:20,2024-10-27
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,2024-10-27 03:33:20,2024-10-27
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,2024-10-27 03:33:20,2024-10-27
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,2024-10-27 03:33:20,2024-10-27
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,2024-10-27 03:33:20,2024-10-27

In [15]:
trader_df = trader_df.drop(columns=['Timestamp IST'])

In [20]:
trader_df['trade_date'] = pd.to_datetime(trader_df['trade_date']).dt.date

In [23]:
sentiment_df['date'] = pd.to_datetime(sentiment_df['date']).dt.date

In [25]:
# Merge on date
merged_df = trader_df.merge(
    sentiment_df[['date', 'classification', 'value']],  # keep only useful cols
    left_on='trade_date',
    right_on='date',
    how='left'
)

# Drop duplicate Date col
merged_df = merged_df.drop(columns=['date'])

In [27]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Start Position    211224 non-null  float64
 7   Direction         211224 non-null  object
 8   Closed PnL        211224 non-null  float64
 9   Transaction Hash  211224 non-null  object
 10  Order ID          211224 non-null  int64
 11  Crossed           211224 non-null  bool
 12  Fee               211224 non-null  float64
 13  Trade ID          211224 non-null  float64
 14  Datetime          211224 non-null  datetime64[ns]
 15  trade_date        211224 non-null  object
 16  classification    184263 non-null  object
 17  value             184263 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(7)
memory usage: 27.6+ MB

In [29]:
merged_df.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Start Position', 'Direction', 'Closed PnL', 'Transaction Hash',
       'Order ID', 'Crossed', 'Fee', 'Trade ID', 'Datetime', 'trade_date',
       'classification', 'value'],
      dtype='object')

In [31]:
merged_df.to_csv("csv_files/final_data.csv")